
<html>
   <body>

      <form action = "http://127.0.0.1:3002/create" method = "POST">
         Search all the GIFs here: <input type = "text" name = "keyword"> <br>
         <input type = "submit" value = "Submit">
      </form>

   </body>
</html>
